/* Shared
-------------------------------------------------- */
.button {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Sections
-------------------------------------------------- */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.logo-img {
  max-width: 92px;
  max-height: 31px;
  margin-bottom: -10px;
}

.logo {
  float: left;
  text-align: center;
  width: 100%;
}
/* Navigation
-------------------------------------------------- */
.primary {
  padding: 10px 0;
}
nav.primary {
  display: table;
  margin: 0 auto;
}

nav.primary ul, nav.primary li {
  margin: 0px;
}

nav.primary select {
  display: none;
  width: 100%;
  height: 28px;
  margin: 21px 0;
}

nav.primary li {
  display: inline;
  position: relative;
}

nav.primary ul li a {
  display: inline-block;
  padding: 12px 36px;
  color: #7a8084;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.08rem;
}

nav.primary ul li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

nav.primary li a:hover {
  color: #282828;
  cursor: pointer;
}

.toggle-nav {
  display: block;
  width: 100%;
  color: #333;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding-top: 12px;
}
.primary ul {
  display: block;
}

.primary ul.active {
  display: none;
}


/* Hero
-------------------------------------------------- */
.hero {
  background-image: url('../images/hero-bg.jpeg');
  background-size: cover;
}
.hero-heading {
  color: #fff;
  font-variant: petite-caps;
  font-weight: 400;
  letter-spacing: -1px;
  text-shadow: 1px 1px 4px #282828;

}
.hero-subheading {
  color: #fff;
  letter-spacing: 1.5px;
}
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

.hero .button {
  border-radius: 100px;
}

/* Values
-------------------------------------------------- */
.values {
  background: #f9f9f9;
  background-size: cover;
  color: #282828;
  font-weight: 300;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #282828;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Features
-------------------------------------------------- */

.feature {
  padding-bottom: 3rem;
}
.features .feature h6 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.features .feature .img {
  width: auto;
  height: auto;
  text-align: center;
}

.features .feature .content {
  display: block;
  overflow: hidden;
  text-align: center;
}



/* About
-------------------------------------------------- */

.about p {
  color: #b6b6b6;
  font-size: 1.6rem;
}

/* Map
-------------------------------------------------- */
.categories {
  background: #f9f9f9;
  background-size: cover;
}
.categories .section-description { 
  margin-bottom: 4rem;
}  

/* Footer
-------------------------------------------------- */ 

footer p {
  text-align: center;
  letter-spacing: 1px;
  color: #b4b4b4;
}

footer .copyright {
  margin-bottom: 1rem;
}

footer .credits {
  font-size: 1.2rem;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 8rem 0 7rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }

  .toggle-nav {
    display: none;
  }

  .primary ul,
  .primary ul.active {
    display: block;
    float: right;
  }

  nav.primary ul li a {
    display: inline-block;
    text-decoration: none;
    float: left;
    width: auto;
    padding: 12px 36px;
  }

  .logo {
    float: left;
    width: auto;
    padding: 7px;
  }



  .features .feature .img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 30px;
  }

  .features .feature .content {
    display: block;
    overflow: hidden;
    text-align: left;
  }
}



/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 11rem 0 10rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 12rem 0 10rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 4.8rem;
  }
  .hero-subheading {
    font-size: 2.4rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}